<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Processo Seletivo CP2eJr</title>

<link type="text/css" rel="stylesheet" href="estilo.css">
<!--<script src="_include/js/formulario.js"></script>-->
</head>

<body>

	<header class="body">
    	
        <h1>Processo Seletivo CP2eJr</h1>
        
    </header>
	
    <section class="body">
    
    	    
        <form method="post" action="enviar.php" enctype="multipart/form-data">
        
            <label>Nome</label>
            <input id="nomeid" name="nome" required="required"/>
            
			<label>Número do RG:</label>
            <input id="rgid" name="rg" required="required"/>
			
			<label>Endereço:</label>
            <input id ="enderecoid" name="endereco" required="required"/>
			
			<label>Bairro:</label>
            <input id="bairroid" name="bairro" required="required"/>
			
			<label>Cidade:</label>
            <input id="cidadeid" name="cidade" required="required"/>
			
			<label>Tel. Contato:</label>
            <input id="telefoneid" name="telefone" required="required"/>
				
			<label>Email:</label>
            <input id="emailid" name="email" required="required"/>
            
			<label>Núcleos:</label>
			<select required id = "nucleosid" name="nucleos">
				<option value="">Selecione uma opcao...</option>
				<option value="NAI">Núcleo de Assuntos Internos</option>
				<option value="NE">Núcleo de Engenharia</option>
				<option value="NGCT">Núcleo de Gestão de Conhecimento e Treinamentos</option>
				<option value="NPSP">Núcleo de Projetos Sociais e Promoções</option>
			</select>
			
			<label> Currículo: </label>
			<input id="fileToUpload" name="uploadead_file" type="file"/>
			
            <!--<label>Mensagem</label>
            <textarea name="message" placeholder="O que deseja falar?"></textarea>-->
            
            <!--<label>*Quanto é 2+2? (Anti-spam)</label>
            <input name="human" placeholder="Responda aqui" required="required"/>-->
            
            <input id="submit" name="submit" onclick="Enviar();" type="submit" value="Submit">
        
        </form>
        
    </section>
    
    <footer class="body">
    	<a href="http://www.cp2ejr.com.br"><img src="_include\img\2cp.png" alt="CP2"></a>
    </footer>

</body>
</html>

