<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Processo Seletivo CP2eJr</title>

<link type="text/css" rel="stylesheet" href="estilo.css">
<!--<script src="_include/js/formulario.js"></script>-->
</head>

<body>

	<header class="body">
    	
        <h1>Processo Seletivo CP2eJr</h1>
        
    </header>
	
    <section class="body">
    
    	    
        <form method="post" action="enviar.php" enctype="multipart/form-data">
        
            <label>Nome</label>
            <input id="nomeid" name="nome" required="required"/>
            
			<label>Período:</label>
            <input id="periodoid" name="periodo" required="required"/>
			
			<label>Curso:</label>
            <input id ="cursoid" name="curso" required="required"/>
			
		<!--<label>Bairro:</label>
            <input id="bairroid" name="bairro" required="required"/>
			
			<label>Cidade:</label>
            <input id="cidadeid" name="cidade" required="required"/> -->
			
			<label>Tel. Contato:</label>
            <input id="telefoneid" name="telefone" required="required"/>
				
			<label>Email:</label>
            <input id="emailid" type="email" name="email" required="required"/>
            
			<label>Núcleo Desejado:</label>
			<select required id = "nucleosid" name="nucleos">
				<option value="">Selecione uma opcao...</option>
				<option value="NAI">Núcleo de Assuntos Internos</option>
				<option value="NE">Núcleo de Engenharia</option>
				<option value="NGCT">Núcleo de Gestão de Conhecimento e Treinamentos</option>
				<option value="NPSP">Núcleo de Projetos Sociais e Promoções</option>
			</select>
			
			<label>Por que deseja entrar nesse núcleo?</label>
            <textarea required id="nucleos2id" name="nucleos2"></textarea>
			
			<label> Currículo Atual: </label>
			<input required name="attach1" type="file"/>
			
			<label> Horário do Semestre: </label>
			<input required name="attach2" type="file"/>
			
			<label>Quais atividades extracurriculares você realiza no semestre?</label>
            <textarea required id="atividades1id" name="atividades1"></textarea>
			
            
            
            <!--<label>*Quanto é 2+2? (Anti-spam)</label>
            <input name="human" placeholder="Responda aqui" required="required"/>-->
            
            <input id="submit" name="submit" onclick="Enviar();" type="submit" value="Submit">
        
        </form>
        
    </section>
    
    <footer class="body">
    	<a href="http://www.cp2ejr.com.br"><img src="_include\img\2cp.png" alt="CP2"></a>
    </footer>

</body>
</html>

