<!-- Site Criado pelo Núcleo de Engenharia(NE) da Cp2eJr. Template Brushed 2013 - Adaptado de Alessio Atzeni -->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>CP2 | Empresa Jr</title>   

<meta name="description" content="Cp2eJr | Consultoria e Projetos em engenharia" />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>   
	
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="CP2 | Empresa Jr.">CP2</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
				<li><a href="#sobre">Quem somos</a></li>
				<li><a href="#nucleos">Núcleos</a></li>
                <li><a href="#work">Projetos</a></li>
                <li><a href="#processo">Processo Seletivo</a></li>
				<li><a href="#treinamentos">Treinamentos</a></li>
				<li><a href="#depoimentos">Depoimentos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Seção de Quem Somos -->
<div id="sobre" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Quem Somos</h2>
                    <h3 class="title-description">Projetamos e desenvolvemos soluções para auxiliar pequenas e médias empresas. </h3>
					<h3 class="title-description">Trabalho e dedicação desde 2003. </h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
		
    <!-- People -->
    <div class="row">
    	
        <!-- Missão -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Missão</span>
                </div>
                <img src="_include/img/profile/cp2.png" alt="missao"> <!-- Alterar Imagem -->
            </div>
            <h3 class="profile-name">Missão</h3>
            <p class="profile-description">"Contribuir para a formação de seus membros e atender as necessidades e objetivos de seus clientes, através da oferta de capacitações e soluções tecnológicas, por meio do aproveitamento do conhecimento e das experiências acadêmicas no INATEL."</p>
        </div>
        <!-- Fim Missão -->
        
        <!-- Visão  -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Visão</span>
                </div>
                <img src="_include/img/profile/cp2.png" alt="visao"> <!-- Alterar Imagem -->
            </div>
            <h3 class="profile-name">Visão</h3>
            <p class="profile-description">"Ser reconhecida como a melhor “Empresa Júnior” na oferta de soluções e capacitações tecnológicas para a região e consolidar-se como a melhor relação custo/benefício para o mercado."</p>
        </div>
        <!-- Fim Visão -->
		
		<!-- Valores  -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Valores</span>
                </div>
                <img src="_include/img/profile/cp2.png" alt="valor"> <!-- Alterar Imagem -->
            </div>
            <h3 class="profile-name">Valores</h3>
            <p class="profile-description">""</p>
        </div>
        <!-- Fim Valores -->
		
		</div>
		<!-- Video sobre a Empresa Junior -->
		<div class="row">
                <div class="title-page">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/wSej76gh0Cs" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
		<!-- Fim Video -->
    </div>
</div>
<!-- Fim da Seção de Quem Somos -->

<!-- Seção de Núcleos -->
<div id="nucleos" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Núcleos da Empresa</h2>
                <h3 class="title-description">A CP2eJr é organizada em 4 Núcleos:</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- NPSP - Núcleo de Projetos e Promoções Sociais -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Projetos e Promoções Sociais</span>
                </div>
                <img src="_include/img/profile/NPSP2.jpg" alt="NPSP"> <!-- Imagem a ser alterada ainda -->
            </div>
            <h3 class="profile-name">NPSP</h3>
            <p class="profile-description">Realização de projetos que promovam a CP2, mas que não são técnicos, como o Festitel, Vitrine Jr., Rito de Entrada e Olimpíada do Empreendedor. .</p>
        </div>
        <!-- Fim -->
        
        <!-- NAI - Núcleo de assuntos internos  -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Assuntos Internos</span>
                </div>
                <img src="_include/img/profile/NAI2.jpg" alt="NAI"> <!-- Alterar Imagem -->
            </div>
            <h3 class="profile-name">NAI</h3>
            <p class="profile-description">Desempenha funções de registro de membros, arquivamento, fluxo de caixa e estrutura jurídica da CP2. </p>
        </div>
        <!-- End Profile -->
        
        <!-- NGCT - Núcleo de gestão do conhecimento e treinamento -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Gestão do Conhecimento e <Treinamentos></Treinamentos></span>
                </div>
                <img src="_include/img/profile/NGCT2.jpg" alt="NGCT"> <!-- Alterar Imagem -->
            </div>
            <h3 class="profile-name">NGCT</h3>
            <p class="profile-description">Organização de treinamentos comerciais para vendas a alunos e empresas da cidade. Desenvolve planos de carreira para cada membro, em parceria com o Núcleo de Orientação Educacional do Inatel. </p>
        </div>
        <!-- End Profile -->

        <!-- NE - Núcleo de Engenharia -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Núcleo de Engenharia</span>
                </div>
                <img src="_include/img/profile/NE11.png" alt="NE">
            </div>
            <h3 class="profile-name"> NE</h3>
            <p class="profile-description">Efetua viabilidade técnica e econômica, análise e levantamento de requisitos, desenvolvimento de projetos de engenharia, além da gestão de tecnologia interna da CP2. </p>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- Fim da Seção de Núcleos -->


<!-- Seção de Projetos -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Nossos Projetos</h2>
                    <h3 class="title-description">Projetos realizados pela Cp2eJr</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Projetos Realizados</li>
                        <li><a href="#filter" data-option-value="*" class="selected">Todos os Projetos</a></li>
						<li><a href="#filter" data-option-value=".photography">Projetos da CP2eJr</a></li>
                        <li><a href="#filter" data-option-value=".design">Projetos Parceiros</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                        
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Festitel" href="_include/img/work/full/festitel.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/festitel.jpg" alt="O evento, promovido pelo Inatel e pela CP2eJr, busca unir os talentos da comunidade acadêmica do 
									Instituto e da região, que participam juntos do festival de bandas e dos concursos de dança, desenho, poesia e redação.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 photography">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Vitrine Júnior" href="_include/img/work/full/vjunior.png">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/full/vjunior2.png" alt="Descrição da Vitrine Júnior">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Fetin" href="_include/img/work/full/fetin.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/fetin.jpg" alt="A FETIN é um evento extracurricular do INATEL de altíssimo valor, 
								que agrega muito para a formação do aluno, porque é um 
								momento em que eles são desafiados a usar seus conhecimentos 
								para ousar em um projeto.">
                            </li>
                        	<!-- End Item Project -->
                            
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 photography">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Olimpíada do Empreendedor" href="_include/img/work/full/olimpiada.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/olimpiada.jpg" alt="A Olimpíada do Empreendedor é um programa motivacional do 
									Núcleo de Empreendedorismo do Inatel - NEmp, desenvolvido em parceria com a Empresa Júnior do Inatel – Cp2ejr.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Rito de Entrada" href="_include/img/work/full/rito.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/rito.jpg" alt="Descrição do Rito de Entrada.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 photography">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Treinamentos" href="_include/img/work/full/cursos.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/cursos.jpg" alt="A CP2eJR promove diversos treinamentos para aprimoração do currículo do estudante	.">
                            </li>
                        	<!-- End Item Project -->
                            
							
                        </ul>
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- Fim da Seção de Projetos -->

<!-- Seção de Processo seletivo -->
<div id="processo" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Processo Seletivo</h2>
                <h3 class="title-description">Faça parte da nossa família</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- Formulário processo seletivo -->
    <div class="row">
        <div class="span9">

            <form id="contact-form" class="contact-form" action="_include/php/processo.php">
                <p class="contact-name">
                    <input id="contact_name" type="text" placeholder="Nome Completo" value="" name="name" />
                </p>
                <p class="contact-email">
                    <input id="contact_email" type="text" placeholder="Email" value="" name="email" />
                </p>
                <p class="contact-message">
                    <textarea id="contact_message" placeholder="Telefone" name="telefone" rows="1" cols="40"></textarea>
                </p>
                <p class="contact-message">
                    <textarea id="contact_message" placeholder="Atividades extra curriculares" name="atividade" rows="3" cols="40"></textarea>
                </p>
                <p class="contact-message">
                    <textarea id="contact_message" placeholder="Como conheceu a CP2?" name="cp2" rows="3" cols="40"></textarea>
                </p>
                <p class="contact-message">
                    <textarea id="contact_message" placeholder="Conte-nos um pouco sobre a CP2" name="sobre" rows="5" cols="40"></textarea>
                </p>
                <p class="contact-message">
                    <textarea id="contact_message" placeholder="Qual núcleo gostaria de fazer parte? Porquê?" name="nucleo" rows="5" cols="40"></textarea>
                </p>
                <p class="contact-submit">
                    <a id="contact-submit" class="submit" href="#processo">Inscrever</a>
                </p>

                <div id="response">

                </div>
            </form>

        </div>
        <!-- End Title Page -->
</div>
</div>

<!-- Seção de Depoimentos -->
<div id="depoimentos" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Depoimentos</h2>
                <h3 class="title-description">Conheça a opinião de quem já passou por aqui.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Todos os Depoimentos -->
    <div class="row">
    	
        <!-- Depoimento1 -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">João Rubens Costa - Gerente de Projetos, ICC</span>
                </div>
                <img src="_include/img/profile/depoimento1.jpg" alt="dep1">
            </div>
           
        </div>
        <!-- Fim Depoimento1-->
        
        <!-- Depoimento2 -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Renzo Mesquita - Professor, INATEL</span>
                </div>
                <img src="_include/img/profile/depoimento4.jpg" alt="dep4">
            </div>
        </div>
        <!-- Fim Depoimento2-->
        
        <!-- Depoimento3 -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Caio Gomes Rodrigues - Engineer, Samsung</span>
                </div>
                <img src="_include/img/profile/depoimento5.jpg" alt="dep5">
            </div>
        </div>
        <!-- Fim Depoimento3-->
        
    </div>
    <!-- Fim de Todos os Depoimentos-->
</div>
</div>
<!-- Fim Seção de Depoimentos -->


<!-- Seção de Treinamentos -->
<div id="treinamentos" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Treinamentos</h2>
                <h3 class="title-description">"Feliz aquele ensina o que sabe e aprende o que ensina." - Cora Coralina</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Todos os Treinamentos -->
    <div class="row">
		
        <!-- Treinamento1-->
    	<!-- AutoCAD -->
		<a href="formAutoCAD.html">
			<div class="span4 profile">
				<div class="image-wrap">
					<div class="hover-wrap">
						<span class="overlay-img"></span>
						<span class="overlay-text-thumb">Curso AutoCAD 2D<br>Increva-se clicando aqui!</span>
					</div>
					<img src="_include/img/profile/NE11.png" alt="AutoCAD">
				</div>
				<h3 class="profile-name">AutoCAD</h3>
				<p class="profile-description">[DESCRIÇÃO CURSO AUTOCAD]</p>
			</div>
		</a>
        <!-- End Profile -->
        <!-- Fim Treinamento1-->
        
    </div>
    <!-- Fim de Todos os Treinamentos-->
</div>
</div>
<!-- Fim Seção de Treinamentos -->


<!-- Seção Contatos -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Contato</h2>
                <h3 class="title-description">Novos clientes, sugestões, críticas ou elogios. Fale conosco.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Formulário da Seção Contatos -->
    <div class="row">
    	<div class="span9">
        
        	<form id="contact-form" class="contact-form" method="post" action="_include/php/contact.php">
            	<p class="contact-name">
            		<input id="contact_name" type="text" placeholder="Nome Completo" value="" name="name" />
                </p>
                <p class="contact-email">
                	<input id="contact_email" type="text" placeholder="Email" value="" name="email" />
                </p>
                <p class="contact-message">

                	<textarea id="contact_message" placeholder="Deixe sua sugestão, crítica ou elogio..." name="message" rows="15" cols="40"></textarea>

                	<!--<textarea id="contact_message" placeholder="Mensagem" name="message" rows="15" cols="40"></textarea>-->

                </p>
                <p class="contact-submit">
                	<a id="contact-submit" class="submit" href="#contact">Enviar</a>
                </p>
                
                <div id="response">
                
                </div>
            </form>
         
        </div>
        
        <div class="span3">
        	<div class="contact-details">

        		<h3>Fale conosco</h3>
                <ul>
                    <li><a href="#">cp2ejr@cp2ejr.com</a></li>
                    <li>(35) 3471-9386 Ramal 386</li>
                    <li>
                        CP2 Empresa Jr.
                        <br>
                        Av. João de Camargo, 510, INATEL
                        <br>
                        37540-000 - Santa Rita do Sapucaí - MG

        	<!--	<h3>Contato</h3>
                <ul>
                    <li><a href="#">contato@cp2.com.br</a></li>
                    <li>(35) 3471 - 9386</li>
                    <li>
                        CP2 | Consultoria e Projetos
                        <br>
                        Av. João de Camargo, 510 - Inatel (Nemp)
                        <br>


                    </li>
                </ul>-->
            </div>
        </div>
    </div>
    <!-- Fim do Formulário da Seção Contatos -->
</div>
</div>
<!-- Fim da Seção Contatos -->

<!-- Redes Sociais -->
<div id="social-area" class="page-alternate">
	<div class="container">
    	<div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <li><a href="https://www.facebook.com/Empresa.Junior.Inatel" title="Siga-nos no Facebook!" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/915892?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A2-1-2%2CtarId%3A1429073193889%2Ctas%3Acp2ejr" title="Siga-nos no Linkedin!" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Fim Redes Sociais -->

<!-- Rodapé -->
<footer>
<p class="credits">&copy; Empresa Junior do Inatel <a href="https://www.facebook.com/Empresa.Junior.Inatel?fref=ts" title="Empresa Junior">CP2eJr</a></p>
</footer>
<!-- Fim do Rodapé -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>