<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Inscrição Workshop Fetin</title>

<link type="text/css" rel="stylesheet" href="estilo2.css">
</head>

<body>
	  <p style="display:scroll;position:fixed;bottom:;"	  href="http://www.inatel.br/fetin/"><img src="images/fetin.gif"alt="Fetin"hspace="50"></p>

	
    <header class="body">
    	
        <h1>Inscriçõs - Workshop Fetin</h1>
        
    </header>
	
    <section class="body">
    
    	    
        <form method="post" action="enviar.php" enctype="multipart/form-data">
        
            <label>Nome:</label>
            <input id="nomeid" name="nome" required="required"/>
            
			<label>Período:</label>
            <input id="periodoid" name="periodo" required="required"/>
			
			<label>Curso:</label>
            <input id ="cursoid" name="curso" required="required"/>
			
			<label>Tel. Contato:</label>
            <input id="telefoneid" name="telefone" required="required"/>
				
			<label>Email:</label>
            <input id="emailid" type="email" name="email" required="required"/>
            
			<p>Inscrições até o dia 00/00/0000</p>
			
            
            <input id="submit" name="submit" onclick="Inscrever();" type="submit" value="Submit">
        
        </form>
        
    </section>
    
    <footer class="body">
    	<a href="http://www.cp2ejr.com.br"><img src="_include/img/2cp.png"alt="CP2"></a>
    </footer>

</body>
</html>

